# dependencies
node_modules/
.pnpm-store/

# next.js
.next/
out/
build/
dist/

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# testing
coverage/
playwright-report/
test-results/
playwright/.cache/

# misc
.DS_Store
*.pem
.vercel
.turbo

# ide
.vscode/
.idea/

# typescript
*.tsbuildinfo
next-env.d.ts

# drizzle
drizzle/
